.publickey {
  padding-top: 50px !important;
}

.operator {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  color: #10414d;
  opacity: 1;
  transition: opacity 0.5s;
  &.hide {
    opacity: 0;
  }
}

.safe {
  width: 97px;
  height: auto;
  margin: 1em auto -50px;
  z-index: 2;
  display: block;
  position: relative;
}
