.container {
  max-width: 400px;
  transition: opacity 0.5s;

  > * {
    margin: 20px;
  }
}

.plus {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.message {
  font-family: monospace;
  max-width: 400px;
  max-height: 100%;
  padding: 20px;
  background: #fff;
  height: auto;
  width: auto;
}

.encrypted {
  word-wrap: break-word;
}

.encryption-container {
  transition: all 0.5s;
  opacity: 1;
  margin-top: 0;
  &.hide {
    opacity: 0;
  }
}
