.frame {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s;
  z-index: 1;

  &.technical {
    background-color: #eef6f7;
    &::after {
      background-image: url('../images/algorithms_pattern.svg');
      background-color: transparent;
      background-size: 340px;
      background-position: top left;
      background-repeat: repeat;
      content: '';
      opacity: 0.05;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  > div:not(.shroud) {
    max-width: 400px;
    margin: 0 auto;
    z-index: 3;
    position: relative;

    @media (min-width: 61.25rem) {
      transform: translate(-18.25rem, 0);
    }

    @media (min-height: 50rem) {
      margin-top: 60px;
    }
  }
}

.shroud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url(../images/eye.svg);
  background-image: none;
  background-size: 190px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(217, 48, 33, 1);
  z-index: 4;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  &.visible {
    opacity: 0.5;
  }
}

.visible {
  opacity: 1;
  pointer-events: all;
}
