.stage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;

  h2 {
    text-align: center;
    text-transform: none;
    font-family: ABCSerif;
    font-size: 22px;
    color: #10414d;
    line-height: 1.1em;
    margin: 2em 0;
  }
}
