$bubble-background: #ebfbff;
$bubble-background-right: #fff2eb;

.bubble-container {
  position: relative;
  max-width: 400px;
}

.bubble-inner {
  position: relative;
  margin: 10px 50px 10px 20px;
  z-index: 1;
  margin: 30px;
  transition: opacity 0.5s;
  opacity: 1;

  &.hide {
    opacity: 0;
  }

  &.right .bubble {
    background: $bubble-background-right;
  }

  &.left::after {
    content: "";
    position: absolute;
    top: 0;
    left: -17px;
    width: 0;
    height: 0;
    border-right: 19px solid $bubble-background;
    border-bottom: 20px solid transparent;
  }

  &.right::after {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-left: 19px solid $bubble-background-right;
    border-bottom: 20px solid transparent;
  }
}

.status {
  width: 100%;
  text-align: right;
  font-size: 12px;
  font-family: Arial;
}

.bubble {
  border-radius: 3px;
  background: $bubble-background;
  padding: 12px;
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  box-shadow: 0 20px 20px -10px #1b3c43;
}
