.secret-input {
  z-index: 3 !important;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-direction: row;
  .input {
    min-width: 100%;
    width: auto;
    border: 1px solid #fcceb4;
    resize: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 5px;
    flex: auto;
  }

  button {
    background: #fcceb4;
    margin: 10px 0 0 0;
    border: none;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
    color: #612400;
    font-family: ABCSans, Arial, sans-serif;
    width: auto;
    flex: auto;
    &.primary {
      background: #ffad76;
      font-weight: bold;
      font-size: 14px;
      margin-right: 10px;
    }
  }
}
