:global {
  .is-dark .Header-content.Header-content > h1:after {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .Header.is-dark.is-dark,
  .Header.is-layered.is-layered,
  .Block.is-heading.is-heading,
  .Block.is-richtext.is-richtext {
    background: transparent;
  }
  .is-above .Nav-bar {
    transform: translateY(-102%);
  }

  .is-richtext .Block-media.is-fixed {
    position: fixed;
  }

  .init-interactive[data-encryption-explainer] {
    .is-piecemeal > .Block-content.Block-content {
      margin-bottom: 40vh;
      margin-top: 40vh;
      &::before {
        background-color: rgba(0, 0, 0, 0.8);
      }

      &:nth-child(2) {
        margin-top: 60vh;
      }

      &:last-child {
        margin-bottom: 40vh;
      }
    }
  }
}
