.codeIcon {
  width: 97px;
  height: auto;
  margin: 1em auto -30px;
  z-index: 2;
  display: block;
  position: relative;
}

.eq,
.plus {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.private-key.private-key {
  transition: opacity 0.5s, max-height 0.5s;
  padding-top: 50px;
  margin: -30px auto 0;
}

.illustration {
  margin: 0 auto;
  display: block;
}

.active-generate,
.active-intercept2,
.active-transit,
.active-privatekey {
  .plus,
  .eq,
  .encrypted,
  .decrypted {
    opacity: 0;
  }
}

.active-generate,
.active-intercept2,
.active-transit,
.active-encrypted {
  .eq,
  .decrypted {
    opacity: 0;
  }

  .privatekey {
    max-height: 5em;
  }
}
